@page
@model VideoManagerPlus.Pages.UploadModel
@{
    ViewData["Title"] = "上传视频";
    ViewData["Current"] = "Upload";
}

<h2>上传视频</h2>
<h5>上传成功的视频将会自动应用所选标签与分类</h5>

<div id="modals">

    <div class="modal fade" id="newTagModal" tabindex="-1" role="dialog" aria-labelledby="newTagModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newTagModalLabel">添加新的标签</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">新标签名称</label>
                            <input type="text" class="form-control" id="newTagName">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="confirmAddTag">添加标签</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newCatModal" tabindex="-1" role="dialog" aria-labelledby="newTagModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newCatModalLabel">添加新的分类</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">新分类名称</label>
                            <input type="text" class="form-control" id="newCatName">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="confirmAddCat">添加分类</button>
                </div>
            </div>
        </div>
    </div>

</div>


<form id="uploadForm">
    <div class="form-row">
        <div class="input-group col-11 mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputCat">分类</label>
            </div>
            <select class="custom-select" id="inputCat">
                <option value="0" selected>无分类</option>
                @foreach (var cat in Model.AllCats)
                {
                    <option value="@cat.Id">@cat.CatName</option>
                }
            </select>
        </div>
        <div class="col-1">
            <button type="button" id="addCatButton" class="btn btn-primary">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="form-row">
        <div class="input-group col-11 mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputTag">标签</label>
            </div>
            <select class="custom-select" id="inputTag">
                <option value="0" selected>无标签</option>
                @foreach (var tag in Model.AllTags)
                {
                    <option value="@tag.Id">@tag.TagName</option>
                }
            </select>
        </div>
        <div class="col-1">
            <button type="button" id="addTagButton" class="btn btn-primary">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <div for="fileInput" class="form-group">
        <input id="fileInput" name="fileInput" type="file" data-preview-file-type="text" lang="zh" multiple/>
    </div>

</form>


<script type="text/javascript">
    $(document).ready(function() {
        $("#fileInput").fileinput({
            'showUpload': true,
            'theme': 'fa',
            'language': 'zh',
            'uploadUrl': '/api/Video/Upload',
            'name': 'file',
            'allowedFileExtensions': ['mp4', 'mkv', 'avi', 'flv'],
            'showClose': false,
            'showCancel': false,
            'uploadExtraData': {
                'videoCat': '0',
                'videoTag': '0'
            }
        });
    });

    $('#inputTag').on('input',
        function() {
            $("#fileInput").data("fileinput").uploadExtraData = {
                'videoCat': $('#inputCat').val(),
                'videoTag': $('#inputTag').val()
            };
        });

    $('#inputCat').on('input',
        function() {
            $("#fileInput").data("fileinput").uploadExtraData = {
                'videoCat': $('#inputCat').val(),
                'videoTag': $('#inputTag').val()
            };
        });
    $("#addTagButton").click(function() {
        $("#newTagModal").modal("show");
    });
    $("#confirmAddTag").click(function() {
        if (!$("#newTagName").val())
            return;
        $.post("/api/Video/AddTag", { tagName: $("#newTagName").val() })
            .done(function(data) {
                $("#inputTag").append(new Option($("#newTagName").val(), data.tagName));
                $("#newTagModal").modal("hide");
            });
    });

    $("#addCatButton").click(function() {
        $("#newCatModal").modal("show");
    });
    $("#confirmAddCat").click(function() {
        if (!$("#newCatName").val())
            return;
        $.post("/api/Video/AddCat", { catName: $("#newCatName").val() })
            .done(function(data) {
                $("#inputCat").append(new Option($("#newCatName").val(), data.catName));
                $("#newCatModal").modal("hide");
            });
    });
</script>